---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: freshrss
spec:
  chartRef:
    kind: OCIRepository
    name: freshrss
  interval: 1h
  values:
    controllers:
      freshrss:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          fix-permissions:
            image:
              repository: ghcr.io/home-operations/busybox
              tag: 1.37.0@sha256:026ed7273270ec08f6902b4ae8334c23b473e5394bec3bbbdbfe580c710d50bc
            command:
              - "sh"
              - "-c"
              - "chown -R 100:101 /data"
            securityContext:
              runAsUser: 0
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 128Mi
        containers:
          app:
            image:
              repository: freshrss/freshrss
              tag: 1.28.1
            env:
              CRON_MIN: "*"
              DOMAIN: "rss.${SECRET_DOMAIN}"
              LISTEN: &port 8080
              TZ: America/New_York
              OIDC_ENABLED: "1"
              OIDC_PROVIDER_METADATA_URL: https://id.${SECRET_DOMAIN}/.well-known/openid-configuration
              OIDC_REMOTE_USER_CLAIM: preferred_username
              OIDC_SCOPES: openid email profile
              OIDC_X_FORWARDED_HEADERS: X-Forwarded-Host X-Forwarded-Port X-Forwarded-Proto
            envFrom:
              - secretRef:
                  name: freshrss-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 1Gi
    service:
      app:
        ports:
          http:
            port: *port
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          freshrss:
            fix-permissions:
              - path: /data
            app:
              - path: /var/www/FreshRSS/data
                subPath: data
              - path: /var/www/FreshRSS/extensions
                subPath: extensions
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: 'conditions: ["[STATUS] == 401"]'
        hostnames:
          - "rss.${SECRET_DOMAIN}"
        parentRefs:
          - name: kgateway-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  set:
                    - name: X-Forwarded-Proto
                      value: https
                    - name: X-Forwarded-Host
                      value: "rss.${SECRET_DOMAIN}"
                    - name: X-Forwarded-Port
                      value: "443"
