---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: Backend
metadata:
  name: pocket-id-oidc-vm
spec:
  type: Static
  static:
    hosts:
      - host: pocket-id.auth.svc.cluster.local
        port: 1411
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: GatewayExtension
metadata:
  name: vmsingle-oidc
spec:
  oauth2:
    backendRef:
      kind: Backend
      group: gateway.kgateway.dev
      name: pocket-id-oidc-vm
    authorizationEndpoint: https://id.${SECRET_DOMAIN}/authorize
    tokenEndpoint: https://id.${SECRET_DOMAIN}/api/oidc/token
    endSessionEndpoint: https://id.${SECRET_DOMAIN}/api/oidc/end-session
    credentials:
      clientID: victoria-metrics
      clientSecretRef:
        name: vmsingle-oidc-secret
    redirectURI: https://metrics.${SECRET_DOMAIN}/oauth2/callback
    logoutPath: /oauth2/logout
    scopes:
      - openid
      - email
      - profile
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: TrafficPolicy
metadata:
  name: vmsingle-oidc
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: vmsingle
  oauth2:
    extensionRef:
      name: vmsingle-oidc
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: GatewayExtension
metadata:
  name: vmalertmanager-oidc
spec:
  oauth2:
    backendRef:
      kind: Backend
      group: gateway.kgateway.dev
      name: pocket-id-oidc-vm
    authorizationEndpoint: https://id.${SECRET_DOMAIN}/authorize
    tokenEndpoint: https://id.${SECRET_DOMAIN}/api/oidc/token
    endSessionEndpoint: https://id.${SECRET_DOMAIN}/api/oidc/end-session
    credentials:
      clientID: alertmanager
      clientSecretRef:
        name: vmalertmanager-oidc-secret
    redirectURI: https://alertmanager.${SECRET_DOMAIN}/oauth2/callback
    logoutPath: /oauth2/logout
    scopes:
      - openid
      - email
      - profile
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: TrafficPolicy
metadata:
  name: vmalertmanager-oidc
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: vmalertmanager
  oauth2:
    extensionRef:
      name: vmalertmanager-oidc
