---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/operator.victoriametrics.com/vmservicescrape_v1beta1.json
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: autobrr
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: autobrr
      app.kubernetes.io/name: autobrr
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
      scrapeTimeout: 30s
