---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./externalsecret.yaml
  - ./externalsecret-oidc.yaml
  - ./securitypolicy.yaml
  - ./pvc.yaml
  - ./helmrelease.yaml
