---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: Backend
metadata:
  name: pocket-id-oidc-seerr
spec:
  type: Static
  static:
    hosts:
      - host: pocket-id.auth.svc.cluster.local
        port: 1411
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: GatewayExtension
metadata:
  name: seerr-oidc
spec:
  oauth2:
    backendRef:
      kind: Backend
      group: gateway.kgateway.dev
      name: pocket-id-oidc-seerr
    authorizationEndpoint: https://id.${SECRET_DOMAIN}/authorize
    tokenEndpoint: https://id.${SECRET_DOMAIN}/api/oidc/token
    endSessionEndpoint: https://id.${SECRET_DOMAIN}/api/oidc/end-session
    credentials:
      clientID: seerr
      clientSecretRef:
        name: seerr-oidc-secret
    redirectURI: https://requests.${SECRET_DOMAIN}/oauth2/callback
    logoutPath: /oauth2/logout
    scopes:
      - openid
      - email
      - profile
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: TrafficPolicy
metadata:
  name: seerr-oidc
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: seerr
  oauth2:
    extensionRef:
      name: seerr-oidc
