machine:
  type: controlplane
  network:
    hostname: k8s-2
    interfaces:
      - deviceSelector:
          hardwareAddr: 00:a0:98:3e:6c:22
  disks:
    - device: /dev/vdb
      partitions:
        - mountpoint: /var/mnt/extra
  install:
    image: factory.talos.dev/metal-installer/{{ ENV.SCHEMATIC_ID }}:{{ ENV.TALOS_VERSION }}