---
# yaml-language-server: $schema=https://kubernetes-schema.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
spec:
  chartRef:
    kind: OCIRepository
    name: grafana-operator
  interval: 1h
  values:
    dashboard:
      enabled: true
    serviceMonitor:
      enabled: true
    resources:
      requests:
        cpu: 100m
      limits:
        memory: 256Mi
