machine:
  type: controlplane
  network:
    hostname: k8s-0
  disks:
    - device: /dev/vdb
      partitions:
        - mountpoint: /var/mnt/extra
  install:
    image: factory.talos.dev/metal-installer/89b50c59f01a5ec3946078c1e4474c958b6f7fe9064654e15385ad1ad73f536c:{{ ENV.TALOS_VERSION }}
