---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus-configmap
data:
  config.yaml: |-
    ---
    connectivity:
      checker:
        target: 1.1.1.1:53
        interval: 1m

    metrics: true

    security:
      oidc:
        issuer-url: https://id.${SECRET_DOMAIN}
        redirect-url: https://status.${SECRET_DOMAIN}/authorization-code/callback
        client-id: $${OIDC_CLIENT_ID}
        client-secret: $${OIDC_CLIENT_SECRET}
        scopes:
          - openid
          - email
          - profile

    ui:
      title: Status | Gatus
      header: Status
      logo: https://avatars.githubusercontent.com/u/19583593
      link: https://github.com/GizmoTickler/home-ops
      buttons:
        - name: Github
          link: https://github.com/GizmoTickler
        - name: homelab
          link: https://github.com/GizmoTickler/home-ops

    web:
      port: 80

    endpoints:
      - name: "Google"
        group: "connectivity"
        url: icmp://8.8.8.8
        interval: 1m
        conditions:
          - "[CONNECTED] == true"

      - name: "Cloudflare"
        group: "connectivity"
        url: icmp://1.1.1.1
        interval: 1m
        conditions:
          - "[CONNECTED] == true"

      - name: Quad9
        group: connectivity
        url: icmp://9.9.9.9
        interval: 1m
        conditions:
          - "[CONNECTED] == true"

      - name: Cisco Umbrella
        group: connectivity
        url: icmp://208.67.220.220
        interval: 1m
        conditions:
          - "[CONNECTED] == true"

      - name: "Core Switch"
        group: "infrastructure"
        url: https://sc01.${SECRET_DOMAIN}
        interval: 1m
        conditions:
          - "[STATUS] == 200"

      - name: "Wireless Controller"
        group: "infrastructure"
        url: https://ewlc01.${SECRET_DOMAIN}
        interval: 1m
        conditions:
          - "[STATUS] == 200"

      - name: "unifi"
        group: "infrastructure"
        url: https://unifi.${SECRET_DOMAIN}
        interval: 1m
        conditions:
          - "[STATUS] == 200"

      - name: "vSphere"
        group: "infrastructure"
        url: https://vc01.${SECRET_DOMAIN}
        interval: 1m
        conditions:
          - "[STATUS] == 200"

      - name: "TrueNAS"
        group: "infrastructure"
        url: https://nas01.${SECRET_DOMAIN}
        interval: 1m
        conditions:
          - "[STATUS] == 200"

      - name: "Jellyfin"
        group: "internal"
        url: https://jellyfin.${SECRET_DOMAIN}
        interval: 1m
        conditions:
          - "[STATUS] == 200"

      - name: "OP-Connect"
        group: "internal"
        url: https://passwords.${SECRET_DOMAIN}
        interval: 1m
        conditions:
          - "[STATUS] == 404"
