---
# yaml-language-server: $schema=https://kubernetes-schema.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pihole-dns
spec:
  chartRef:
    kind: OCIRepository
    name: pihole-dns
  interval: 1h
  values:
    fullnameOverride: external-dns-pihole
    provider:
      name: pihole
    env:
      - name: &name EXTERNAL_DNS_PIHOLE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: &secret pihole-dns-secret
            key: *name
      - name: EXTERNAL_DNS_PIHOLE_API_VERSION
        value: "6"
      - name: EXTERNAL_DNS_PIHOLE_TLS_SKIP_VERIFY
        value: "true"
    extraArgs:
      - --pihole-server=http://192.168.123.250
    triggerLoopOnEvent: true
    policy: sync
    sources:
      - gateway-httproute
      - service
    txtOwnerId: pihole
    txtPrefix: "k8s."
    domainFilters:
      - ${SECRET_DOMAIN}
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 256Mi
