---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./storageclass-iscsi.yaml
  - ./storageclass-nfs.yaml
  - ./volumesnapshotclass.yaml
  - ./service.yaml
  - ./vmservicescrape.yaml
  - ./grafanadashboard.yaml
