---
# yaml-language-server: $schema=https://kubernetes-schema.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: keda
spec:
  chartRef:
    kind: OCIRepository
    name: keda
  interval: 1h
  values:
    enableServiceLinks: false
    prometheus:
      operator:
        enabled: true
    operator:
      service:
        ports:
          metrics:
            port: 8080
          grpc:
            port: 9666
    resources:
      operator:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 1Gi
      metricServer:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 1Gi
      webhooks:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          memory: 512Mi
