---
# yaml-language-server: $schema=https://kubernetes-schema.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: opencloud
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: opencloud-secret
    template:
      data:
        idm-admin-password: "{{ .ADMIN_PASSWORD }}"
  dataFrom:
    - extract:
        key: opencloud
