---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless
spec:
  chartRef:
    kind: OCIRepository
    name: paperless
  interval: 1h
  values:
    controllers:
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.3
            env:
              # Configure application
              PAPERLESS_SECRET_KEY:
                valueFrom:
                  secretKeyRef:
                    name: paperless-secret
                    key: PAPERLESS_SECRET_KEY
              PAPERLESS_URL: "https://{{ .Release.Name }}.${SECRET_DOMAIN}"
              PAPERLESS_PORT: "8000"
              PAPERLESS_TIME_ZONE: America/New_York
              PAPERLESS_WEBSERVER_WORKERS: "2"
              PAPERLESS_TASK_WORKERS: "2"
              # Configure folders
              PAPERLESS_CONSUMPTION_DIR: /data/nas/incoming
              PAPERLESS_DATA_DIR: /data/local/data
              PAPERLESS_EXPORT_DIR: /data/nas/export
              PAPERLESS_MEDIA_ROOT: /data/local/media
              # Configure folder importer
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              # Configure OCR
              PAPERLESS_OCR_LANGUAGES: eng
              PAPERLESS_OCR_LANGUAGE: eng
              # Configure redis integration
              PAPERLESS_REDIS: "redis://{{ .Release.Name }}-redis.self-hosted.svc.cluster.local:6379"
              # Configure user permissions
              USERMAP_UID: "1000"
              USERMAP_GID: "1000"
              # Configure admin user
              PAPERLESS_ADMIN_USER:
                valueFrom:
                  secretKeyRef:
                    name: paperless-secret
                    key: PAPERLESS_ADMIN_USER
              PAPERLESS_ADMIN_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: paperless-secret
                    key: PAPERLESS_ADMIN_PASSWORD
              # OIDC Configuration
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_SOCIALACCOUNT_PROVIDERS:
                valueFrom:
                  secretKeyRef:
                    name: paperless-secret
                    key: PAPERLESS_SOCIALACCOUNT_PROVIDERS
              PAPERLESS_REDIRECT_LOGIN_TO_SSO: "true"
              PAPERLESS_DISABLE_REGULAR_LOGIN: "true"
              PAPERLESS_SOCIAL_AUTO_SIGNUP: "true"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - "ALL"
                add:
                  - "CHOWN"
                  - "DAC_OVERRIDE"
                  - "FOWNER"
                  - "SETUID"
                  - "SETGID"
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 6Gi
      redis:
        containers:
          app:
            image:
              repository: ghcr.io/valkey-io/valkey
              tag: 9.0.1
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
    service:
      app:
        controller: paperless
        ports:
          http:
            port: 8000
      redis:
        controller: redis
        ports:
          http:
            port: 6379
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8000
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          paperless:
            app:
              - path: /data/local
      nas:
        type: nfs
        server: nas01.${SECRET_DOMAIN}
        path: /mnt/flashstor/data/paperless
        advancedMounts:
          paperless:
            app:
              - path: /data/nas
      run:
        type: emptyDir
        advancedMounts:
          paperless:
            app:
              - path: /run
      tmp:
        type: emptyDir
        advancedMounts:
          paperless:
            app:
              - path: /tmp
